@import "variables";
@import "../../node_modules/bootstrap/scss/mixins";

.add-task {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    @include bottomMargin();

    &__field-block {
        display: flex;
        flex-direction: column;
        margin-right: 12px;
        margin-bottom: 12px;
        min-width: 200px;

        input {
            padding: 4px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    button[type="submit"] {
        height: 50%;
        min-width: 200px;
        margin-right: 12px;
        margin-bottom: 12px;
    }
}