@import "variables.scss";

.header {
    background-color: #24292e;
    color: hsla(0,0%,100%,.75);
    padding: 12px 20px;
    z-index: 32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include bottomMargin();

    h2:hover {
        color: #fff;
        cursor: pointer;
    }

    @media screen and (max-width: 480px) {
        flex-direction: column;
    }
}