@import "variables.scss";

.header {
    background-color: #24292e;
    color: hsla(0,0%,100%,.75);
    padding: 12px 20px;
    z-index: 32;
    display: flex;
    justify-content: space-between;
    @include bottomMargin();
}