.login {
    display: flex;
    align-items: center;

    &__btn:hover {
        color: #fff;
        cursor: pointer;
    }

    &__form {
        display: flex;
        margin-right: 14px;

        div {
            margin-right: 8px;

            label {
                margin-right: 8px;
            }

            input {
                padding-right: 4px;
                padding-left: 4px;
            }
        }
    }
    
    button[type="submit"] {
        cursor: pointer;
        height: 100%;
    }

    @media screen and (max-width: 800px) {
        flex-direction: column;

        &__form {
            flex-direction: column;
            margin-bottom: 8px;

            div {
                display: flex;
                justify-content: space-between;
                margin-right: 0;
                margin-bottom: 8px;
            }
        }
    }
}

