@import "variables.scss";

.todo-list {
    min-height: 275px;
    display: flex;
    justify-content: space-evenly;
    @include bottomMargin();
    flex-wrap: wrap;

    &__todo {
        width: 240px;
    }

    &__done {
        margin-right: 6px;
    }
}